<header class="site-header">
    <div class="container">
        <div class="row">
            <div class="company-header">
                <div id="logo"></div>
            </div>

            <div class="site-banner">
                <div class="site-name">
                    <h1>{{ site.title }}</h1>
                </div>
                <div class="search-panel"></div>
            </div>
        </div>
    </div>

    <div class="breadcrumb-wrapper">
        <div class="container">
            <div class="row">
                {% include page-controls.html %}
            </div>
        </div>
    </div>
</header>
